<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe book</a>
        </div>

        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#" (click)="reciptesClicked()">Recipes</a>
        </nav>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#" (click)="shoppingClicked()">Shopping list</a>
        </nav>
    </div>
</nav>